<!DOCTYPE html > 

<html > 

  <head>  
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible"  content="IE=edge" >
    <meta name="viewport"  content="width=device-width , initial-scale=1.0"   >
    <title>   new page express node web server </title>  
    <link  rel="stylesheet" href="css/style.css" /> 
  </head>

 
  <body> 
         
    <h1>  Hello form new page of express node web server   </h1>
     <p> The next image is being called from the public folder  =>  [by using the  builtin middleware method  the ]    </p>
    <image src='img/1.jpg'  width = '300'   height = '300' />
  
  </body>



</html>